@import 'tailwindcss';

:root {
    --background: #181818;
    --foreground: #ffffff;
    
    --primary: #dc2626;
    --primary-foreground: #ffffff;
    
    --muted: #0f0f0f;
    --muted-foreground: #b9b9b9;
    
    --accent: #18181b;
    --accent-foreground: #ffffff;
    
    --border: #18181b;
    --input: #18181b;
    --ring: #dc2626;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --font-sans: var(--font-roboto-condensed);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto-condensed), sans-serif;
    overflow-x: hidden;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .text-balance {
        text-wrap: balance;
    }

    .mask-hero {
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    }

    .scrollbar-thin::-webkit-scrollbar {
        width: 4px;
    }
    .scrollbar-thin::-webkit-scrollbar-track {
        background: transparent;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb {
        background: #1e1e1e;
        border-radius: 20px;
    }
    .scrollbar-thin::-webkit-scrollbar-thumb:hover {
        background: #2e2e2e;
    }
}
